Repository albertocavalcante/groovy-lsp: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-format-check, yaml-format, python-format

lefthook.yml:

pre-commit:
  commands:
    kotlin-format-check:
      glob: '*.kt'
      run: ./gradlew spotlessCheck
    yaml-format:
      glob: '*.{yml,yaml}'
      run: yq -i -P '.' {staged_files}
    python-format:
      glob: '*.py'
      run: ruff format {staged_files} && ruff check --fix {staged_files}
      # TODO: Add explicit dependency check for ruff in the future

chore: add CodeQL scanning
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: yaml-format

docs: add git worktree guidance
  AGENTS.md
Due: none

docs: clarify worktree paths and cleanup
  AGENTS.md
Due: none

docs: add git worktree guidance (#366)
  AGENTS.md
Due: none

docs: ignore tests in CodeQL config
  .github/codeql/codeql-config.yml
Due: yaml-format

chore: add CodeQL scanning (#365)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: yaml-format

chore: add dependency review workflow
  .github/workflows/dependency-review.yml
Due: yaml-format

fix: enable groovy/status readiness notifications
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/Main.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/LanguageServerSessionFactory.kt
  tests/e2e/resources/scenarios/README.md
  tests/e2e/resources/scenarios/codelens-spock.yaml
  tests/e2e/resources/scenarios/discover-tests.yaml
Due: kotlin-format-check, yaml-format

chore: add dependency review workflow (#368)
  .github/workflows/dependency-review.yml
Due: yaml-format

test: wait for groovy/status in codelens scenario
  tests/e2e/resources/scenarios/codelens-spock.yaml
Due: yaml-format

chore: add OSV scanner workflow
  .github/workflows/osv-scanner.yml
Due: yaml-format

refactor(parser): remove legacy AST visitor
  detekt.yml
  docs/ARCHITECTURE.md
  docs/RECURSIVE_VISITOR_PARITY.md
  groovy-lsp/detekt-baseline.xml
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationContext.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/types/GroovyTypeResolverTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/types/SimpleTypeTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/types/TypeDefinitionDiagnosticTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/types/TypeDefinitionIntegrationTest.kt
  groovy-parser/detekt-baseline.xml
  groovy-parser/src/jmh/kotlin/com/github/albertocavalcante/groovyparser/benchmarks/VisitorBenchmark.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserFacade.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/ParseRequest.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/ParseResult.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/AstPositionQuery.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/AstVisitor.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/GroovyAstModel.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/NodeRelationshipTracker.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/NodeVisitorDelegate.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserFacadeTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/KitchenSinkCoverageTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/AstPositionQueryTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/symbols/SymbolExtractionTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/symbols/SymbolQueryTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveAstVisitorTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveVisitorGroovyOperatorsTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveVisitorParityTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveVisitorTraversalTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/VisitorBehaviorTest.kt
  groovy-spock/src/test/kotlin/com/github/albertocavalcante/groovyspock/SpockDetectorAstTest.kt
Due: kotlin-format-check, yaml-format

fix: enable groovy/status readiness notifications (#369)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/Main.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/LanguageServerSessionFactory.kt
  tests/e2e/resources/scenarios/README.md
  tests/e2e/resources/scenarios/codelens-spock.yaml
  tests/e2e/resources/scenarios/discover-tests.yaml
Due: kotlin-format-check, yaml-format

test: clean up unused assertions
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/KitchenSinkCoverageTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveAstVisitorTest.kt
Due: kotlin-format-check

docs: annotate cron schedules
  .github/workflows/codeql.yml
  .github/workflows/extension-nightly.yml
  .github/workflows/extract-jenkins-metadata.yml
  .github/workflows/nightly.yml
  .github/workflows/runner-cleanup.yml
  .github/workflows/runner-destroy.yml
Due: yaml-format

refactor(build-tool): drop unnecessary suspend modifiers
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/DefaultBuildFileWatcher.kt
Due: kotlin-format-check

docs: annotate cron schedules (#372)
  .github/workflows/codeql.yml
  .github/workflows/extension-nightly.yml
  .github/workflows/extract-jenkins-metadata.yml
  .github/workflows/nightly.yml
  .github/workflows/runner-cleanup.yml
  .github/workflows/runner-destroy.yml
Due: yaml-format

chore: add OSV scanner workflow (#371)
  .github/workflows/osv-scanner.yml
Due: yaml-format

chore: add gradle wrapper validation
  .github/workflows/gradle-wrapper-validation.yml
Due: yaml-format

chore: switch to gradle/actions wrapper validation
  .github/workflows/gradle-wrapper-validation.yml
Due: yaml-format

test: add document symbol e2e scenario
  tests/e2e/resources/scenarios/README.md
  tests/e2e/resources/scenarios/document-symbol-basic.yaml
Due: yaml-format

refactor: remove legacy AST visitor (#370)
  detekt.yml
  docs/ARCHITECTURE.md
  docs/RECURSIVE_VISITOR_PARITY.md
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/DefaultBuildFileWatcher.kt
  groovy-lsp/detekt-baseline.xml
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationContext.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/types/GroovyTypeResolverTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/types/SimpleTypeTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/types/TypeDefinitionDiagnosticTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/types/TypeDefinitionIntegrationTest.kt
  groovy-parser/detekt-baseline.xml
  groovy-parser/src/jmh/kotlin/com/github/albertocavalcante/groovyparser/benchmarks/VisitorBenchmark.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserFacade.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/ParseRequest.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/ParseResult.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/AstPositionQuery.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/AstVisitor.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/GroovyAstModel.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/NodeRelationshipTracker.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/NodeVisitorDelegate.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserFacadeTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/KitchenSinkCoverageTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/AstPositionQueryTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/symbols/SymbolExtractionTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/symbols/SymbolQueryTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveAstVisitorTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveVisitorGroovyOperatorsTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveVisitorParityTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveVisitorTraversalTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/VisitorBehaviorTest.kt
  groovy-spock/src/test/kotlin/com/github/albertocavalcante/groovyspock/SpockDetectorAstTest.kt
Due: kotlin-format-check, yaml-format

test: add document symbol e2e scenario (#376)
  tests/e2e/resources/scenarios/README.md
  tests/e2e/resources/scenarios/document-symbol-basic.yaml
Due: yaml-format

chore: add gradle wrapper validation (#375)
  .github/workflows/gradle-wrapper-validation.yml
Due: yaml-format

chore: release main
  CHANGELOG.md
  build.gradle.kts
  editors/code/package.json
  tools/release-please/manifest.json
Due: none

chore: add actions lint workflow
  .github/workflows/actions-lint.yml
Due: yaml-format

chore: release 0.4.7 (#355)
  CHANGELOG.md
  build.gradle.kts
  editors/code/package.json
  tools/release-please/manifest.json
Due: none

chore: bump actions lint Go version
  .github/workflows/actions-lint.yml
Due: yaml-format

chore: always run ghalint after actionlint
  .github/workflows/actions-lint.yml
Due: yaml-format

chore: add actions lint workflow (#378)
  .github/workflows/actions-lint.yml
Due: yaml-format

chore: fix shellcheck findings in workflows
  .github/workflows/ci.yml
  .github/workflows/extension.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/runner-cleanup.yml
Due: yaml-format

test: cover constructors in document symbols
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/symbols/SymbolLspExtensions.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveAstVisitor.kt
  tests/e2e/resources/scenarios/document-symbol-basic.yaml
Due: kotlin-format-check, yaml-format

chore: fix shellcheck findings in workflows (#379)
  .github/workflows/ci.yml
  .github/workflows/extension.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/runner-cleanup.yml
Due: yaml-format

test: harden constructor display name
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/symbols/SymbolLspExtensions.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/symbols/SymbolLspExtensionsTest.kt
Due: kotlin-format-check

test: cover constructors in document symbols (#380)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/symbols/SymbolLspExtensions.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/symbols/SymbolLspExtensionsTest.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveAstVisitor.kt
  tests/e2e/resources/scenarios/document-symbol-basic.yaml
Due: kotlin-format-check, yaml-format

fix: prevent zip slip in source jar extraction
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceJarExtractor.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceJarExtractorTest.kt
Due: kotlin-format-check

test: mark constructors with LSP kind
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/symbols/SymbolLspExtensions.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/symbols/SymbolLspExtensionsTest.kt
  tests/e2e/resources/scenarios/document-symbol-basic.yaml
Due: kotlin-format-check, yaml-format

test: strengthen zip slip regression
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceJarExtractorTest.kt
Due: kotlin-format-check

chore: move lint configs under tools/lint
  .github/workflows/actions-lint.yml
  CODE_QUALITY.md
  build.gradle.kts
  ghalint.yaml
  tools/hooks/pre-commit
  tools/lint/actionlint.yml
  tools/lint/detekt.yml
  tools/lint/ghalint.yaml
  tools/lint/shellcheckrc
Due: yaml-format

test: mark constructors with LSP kind (#382)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/symbols/SymbolLspExtensions.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/symbols/SymbolLspExtensionsTest.kt
  tests/e2e/resources/scenarios/document-symbol-basic.yaml
Due: kotlin-format-check, yaml-format
