Repository albertocavalcante/groovy-lsp: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-format-check, yaml-format, python-format

lefthook.yml:

pre-commit:
  commands:
    kotlin-format-check:
      glob: '*.kt'
      run: ./gradlew spotlessCheck
    yaml-format:
      glob: '*.{yml,yaml}'
      run: yq -i -P '.' {staged_files}
    python-format:
      glob: '*.py'
      run: ruff format {staged_files} && ruff check --fix {staged_files}
      # TODO: Add explicit dependency check for ruff in the future

fix: normalize output dir for zip slip check
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceJarExtractor.kt
Due: kotlin-format-check

chore: handle spaced filenames in shellcheck loop
  tools/hooks/pre-commit
Due: none

chore: move lint configs under tools/lint (#383)
  .github/workflows/actions-lint.yml
  CODE_QUALITY.md
  build.gradle.kts
  ghalint.yaml
  tools/hooks/pre-commit
  tools/lint/actionlint.yml
  tools/lint/detekt.yml
  tools/lint/ghalint.yaml
  tools/lint/shellcheckrc
Due: yaml-format

test: tighten document symbol assertions
  tests/e2e/resources/scenarios/document-symbol-basic.yaml
Due: yaml-format

test: refine constructor signature detail
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/symbols/SymbolLspExtensionsTest.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/symbols/Symbol.kt
Due: kotlin-format-check

fix: prevent zip slip in source jar extraction (#381)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceJarExtractor.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceJarExtractorTest.kt
Due: kotlin-format-check

docs: add lint config guide
  tools/lint/README.md
Due: none

docs: add lint config guide (#388)
  tools/lint/README.md
Due: none

test: refine constructor signature detail (#384)
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/symbols/SymbolLspExtensionsTest.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/symbols/Symbol.kt
Due: kotlin-format-check

test: assert constructor and parameter symbols
  tests/e2e/resources/scenarios/document-symbol-basic.yaml
Due: yaml-format

test: wait for readiness before signature help
  tests/e2e/resources/scenarios/signature-help.yaml
Due: yaml-format

feat: gate GDSL execution behind config flag
  editors/code/README.md
  editors/code/client/src/configuration/settings.ts
  editors/code/client/src/server/client.ts
  editors/code/package.json
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsConfiguration.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsContext.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsConfigurationTest.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsContextTest.kt
Due: kotlin-format-check

fix: narrow editors server ignore
  editors/code/.gitignore
Due: none

test: reduce signature-help readiness timeout
  tests/e2e/resources/scenarios/signature-help.yaml
Due: yaml-format

fix: narrow editors server ignore (#391)
  editors/code/.gitignore
Due: none

refactor: centralize gdsl load failures
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsContext.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsConfigurationTest.kt
Due: kotlin-format-check

feat: gate GDSL execution behind config flag (#390)
  editors/code/README.md
  editors/code/client/src/configuration/settings.ts
  editors/code/client/src/server/client.ts
  editors/code/package.json
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsConfiguration.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsContext.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsConfigurationTest.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsContextTest.kt
Due: kotlin-format-check

test: wait for readiness before signature help (#389)
  tests/e2e/resources/scenarios/signature-help.yaml
Due: yaml-format

refactor: reduce cognitive complexity in DefaultBuildFileWatcher
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/DefaultBuildFileWatcher.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildFileWatcher.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildFileWatcher.kt
Due: kotlin-format-check

fix(deps): update dependency org.openrewrite:rewrite-groovy to v8.70.1
  gradle/libs.versions.toml
  groovy-formatter/src/test/kotlin/com/github/albertocavalcante/groovyformatter/OpenRewriteFormatterTest.kt
Due: kotlin-format-check

refactor: reduce cognitive complexity in DefaultBuildFileWatcher (#392)
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/DefaultBuildFileWatcher.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildFileWatcher.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildFileWatcher.kt
Due: kotlin-format-check

refactor: consolidate slashy string tests using @ParameterizedTest
  groovy-formatter/src/test/kotlin/com/github/albertocavalcante/groovyformatter/OpenRewriteFormatterTest.kt
Due: kotlin-format-check

fix(deps): update dependency org.openrewrite:rewrite-groovy to v8.70.1 (#394)
  gradle/libs.versions.toml
  groovy-formatter/src/test/kotlin/com/github/albertocavalcante/groovyformatter/OpenRewriteFormatterTest.kt
Due: kotlin-format-check

fix: restore quotes to release workflow tag trigger
  .github/workflows/release.yml
  lefthook.yml
Due: yaml-format

ci: add persist-credentials: false to all checkout actions
  .github/workflows/actions-lint.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/extension-nightly.yml
  .github/workflows/extension.yml
  .github/workflows/extract-jenkins-metadata.yml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/mirror-vscode-groovy.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/runner-cleanup.yml
  .github/workflows/runner-destroy.yml
  .github/workflows/runner-provision.yml
Due: yaml-format

fix: use recursive glob pattern for yaml-format
  lefthook.yml
Due: yaml-format

feat: migrate from gradle-git-hooks to lefthook
  build.gradle.kts
  lefthook.yml
  settings.gradle.kts
  tools/hooks/pre-commit
Due: yaml-format

fix: address review feedback for lefthook migration
  build.gradle.kts
  lefthook.yml
Due: yaml-format

feat: migrate to lefthook (#398)
  build.gradle.kts
  lefthook.yml
  settings.gradle.kts
  tools/hooks/pre-commit
Due: yaml-format

ci: add permissions and timeout-minutes to runner workflows
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/nightly.yml
  .github/workflows/runner-cleanup.yml
  .github/workflows/runner-destroy.yml
  .github/workflows/runner-provision.yml
Due: yaml-format

ci: fix all ghalint policy violations
  .github/workflows/actions-lint.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/dependency-review.yml
  .github/workflows/extension-nightly.yml
  .github/workflows/extension.yml
  .github/workflows/extract-jenkins-metadata.yml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/mirror-vscode-groovy.yml
  .github/workflows/osv-scanner.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/runner-cleanup.yml
  .github/workflows/runner-destroy.yml
  .github/workflows/runner-provision.yml
Due: yaml-format

fix: remove accidentally concatenated workflows from copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: yaml-format

ci: fix ghalint persist-credentials violations (#396)
  .github/workflows/actions-lint.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/dependency-review.yml
  .github/workflows/extension-nightly.yml
  .github/workflows/extension.yml
  .github/workflows/extract-jenkins-metadata.yml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/mirror-vscode-groovy.yml
  .github/workflows/nightly.yml
  .github/workflows/osv-scanner.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/runner-cleanup.yml
  .github/workflows/runner-destroy.yml
  .github/workflows/runner-provision.yml
Due: yaml-format

fix: add version number to release-please PR titles
  tools/release-please/config.json
Due: none

docs: document release-please PR title pattern variables
  tools/release-please/README.md
Due: none

fix: add 'v' prefix to release PR title pattern
  tools/release-please/README.md
  tools/release-please/config.json
Due: none

fix: add version number to release-please PR titles (#399)
  tools/release-please/README.md
  tools/release-please/config.json
Due: none

chore: release main
  CHANGELOG.md
  build.gradle.kts
  editors/code/package.json
  tools/release-please/manifest.json
Due: none

feat: add cross-platform smoke tests and simplify JAR naming
  .github/workflows/ci.yml
  .github/workflows/release.yml
  lefthook.yml
  tools/release.sh
Due: yaml-format
