Repository albertocavalcante/groovy-lsp: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-format-check, yaml-format, python-format

kotlin-format-check:
  run: ./gradlew spotlessCheck

yaml-format:
  run: yq -i -P '.' {staged_files}

python-format:
  run: ruff format {staged_files} && ruff check --fix {staged_files}

feat: add cross-platform smoke tests and simplify JAR naming (#400)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  lefthook.yml
  tools/release.sh
Due: yaml-format

feat: gate release on smoke tests and add SLSA provenance attestation
  .github/workflows/release.yml
Due: yaml-format

feat: gate release on smoke tests and add SLSA provenance attestation (#403)
  .github/workflows/release.yml
Due: yaml-format

test: add stricter assertions to completion E2E tests
  tests/e2e/resources/scenarios/completion-basic.yaml
  tests/e2e/resources/scenarios/completion-gdk.yaml
Due: yaml-format

test: add NOT_CONTAINS assertion and negative Jenkins test
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/Scenario.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioContext.kt
  tests/e2e/resources/scenarios/completion-basic.yaml
  tests/e2e/resources/scenarios/completion-gdk.yaml
  tests/e2e/resources/scenarios/completion-negative-jenkins.yaml
Due: kotlin-format-check, yaml-format

refactor: address Gemini review - use JSONPath filter for combined assertion
  tests/e2e/resources/scenarios/completion-basic.yaml
Due: yaml-format

style: fix Kotlin formatting in ScenarioContext.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioContext.kt
Due: kotlin-format-check

fix: add NOT_EMPTY checks to negative Jenkins test
  tests/e2e/resources/scenarios/completion-negative-jenkins.yaml
Due: yaml-format

fix: restore signature verification per Cursor review
  tests/e2e/resources/scenarios/completion-basic.yaml
Due: yaml-format

fix: use exact detail format for NOT_CONTAINS assertion
  tests/e2e/resources/scenarios/completion-negative-jenkins.yaml
Due: yaml-format

feat(lsp): add Groovy version resolution
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/config/ServerConfiguration.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyWorkspaceService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/version/GroovyVersion.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/version/GroovyVersionResolver.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/config/ServerConfigurationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/version/GroovyVersionResolverTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/version/GroovyVersionTest.kt
Due: kotlin-format-check

feat: add ANY_CONTAINS and NONE_CONTAINS assertion types
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/Scenario.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioContext.kt
  tests/e2e/resources/scenarios/completion-negative-jenkins.yaml
Due: kotlin-format-check, yaml-format

fix(lsp): handle qualifier-only versions
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/version/GroovyVersion.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/version/GroovyVersionResolver.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/version/GroovyVersionTest.kt
Due: kotlin-format-check

docs(lsp): note semver library decision
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/version/GroovyVersion.kt
Due: kotlin-format-check

fix: add groovy/status wait to definition tests to prevent flakiness
  tests/e2e/resources/scenarios/definition-class-reference.yaml
  tests/e2e/resources/scenarios/definition-local-variable.yaml
Due: yaml-format

test: add stricter assertions to completion E2E tests (#405)
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/Scenario.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioContext.kt
  tests/e2e/resources/scenarios/completion-basic.yaml
  tests/e2e/resources/scenarios/completion-gdk.yaml
  tests/e2e/resources/scenarios/completion-negative-jenkins.yaml
  tests/e2e/resources/scenarios/definition-class-reference.yaml
  tests/e2e/resources/scenarios/definition-local-variable.yaml
Due: kotlin-format-check, yaml-format

feat(lsp): add Groovy version resolution (#406)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/config/ServerConfiguration.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyWorkspaceService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/version/GroovyVersion.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/version/GroovyVersionResolver.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/config/ServerConfigurationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/version/GroovyVersionResolverTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/version/GroovyVersionTest.kt
Due: kotlin-format-check

test: add groovy/status wait to completion tests + formatting test
  tests/e2e/resources/scenarios/completion-basic.yaml
  tests/e2e/resources/scenarios/completion-gdk.yaml
  tests/e2e/resources/scenarios/completion-negative-jenkins.yaml
  tests/e2e/resources/scenarios/formatting-basic.yaml
Due: yaml-format

fix: address PR review comments on formatting test
  tests/e2e/resources/scenarios/formatting-basic.yaml
Due: yaml-format

feat(lsp): add worker handshake protocol
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/version/GroovyVersionRange.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerProtocol.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/version/GroovyVersionRangeTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerHandshakeTest.kt
Due: kotlin-format-check

test: add groovy/status wait to completion tests + formatting test (#408)
  tests/e2e/resources/scenarios/completion-basic.yaml
  tests/e2e/resources/scenarios/completion-gdk.yaml
  tests/e2e/resources/scenarios/completion-negative-jenkins.yaml
  tests/e2e/resources/scenarios/formatting-basic.yaml
Due: yaml-format

test(lsp): expand worker handshake coverage
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/version/GroovyVersionRangeTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerHandshakeTest.kt
Due: kotlin-format-check

feat(lsp): add worker handshake protocol (#409)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/version/GroovyVersionRange.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerProtocol.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/version/GroovyVersionRangeTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerHandshakeTest.kt
Due: kotlin-format-check

test: add references and rename E2E tests
  tests/e2e/resources/scenarios/references-basic.yaml
  tests/e2e/resources/scenarios/rename-basic.yaml
Due: yaml-format

fix: address PR reviews - use stricter assertions
  tests/e2e/resources/scenarios/references-basic.yaml
  tests/e2e/resources/scenarios/rename-basic.yaml
Due: yaml-format

test: add references and rename E2E tests (#410)
  tests/e2e/resources/scenarios/references-basic.yaml
  tests/e2e/resources/scenarios/rename-basic.yaml
Due: yaml-format

feat(lsp): select workers by version range
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerProtocol.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerSelector.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerSelectorTest.kt
Due: kotlin-format-check

test: add workspace/symbol E2E test
  tests/e2e/resources/scenarios/workspace-symbol-basic.yaml
Due: yaml-format

test: add deferred implementation test
  tests/e2e/resources/scenarios/_implementation-basic.yaml
Due: yaml-format

refactor(lsp): clarify worker selector checks
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerSelector.kt
Due: kotlin-format-check

fix(lsp): prefer bounded worker ranges
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerSelector.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerSelectorTest.kt
Due: kotlin-format-check

feat(lsp): select workers by version range (#411)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerProtocol.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerSelector.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerSelectorTest.kt
Due: kotlin-format-check

docs: add E2E test development workflow
  .agent/workflows/tests-tests-tests.md
Due: none

fix(test): correct YAML indentation in _implementation-basic.yaml
  tests/e2e/resources/scenarios/_implementation-basic.yaml
Due: yaml-format

test: add workspace/symbol E2E test (#412)
  tests/e2e/resources/scenarios/_implementation-basic.yaml
  tests/e2e/resources/scenarios/workspace-symbol-basic.yaml
Due: yaml-format

docs: add E2E test development workflow (#414)
  .agent/workflows/tests-tests-tests.md
Due: none

feat(lsp): add worker router
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerRouter.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerRouterTest.kt
Due: kotlin-format-check

test: add code action and folding tests
  tests/e2e/resources/scenarios/_folding-range-basic.yaml
  tests/e2e/resources/scenarios/code-action-basic.yaml
Due: yaml-format

docs: harden workflow against speculative PR referencing
  .agent/workflows/tests-tests-tests.md
Due: none

refactor(lsp): simplify worker router
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerRouter.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerRouterTest.kt
Due: kotlin-format-check

Path conditions:
  kotlin-format-check: any of: *.kt
  yaml-format: any of: *.{yml,yaml}
  python-format: any of: *.py
