Repository albertocavalcante/groovy-lsp: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-format-check, yaml-format, python-format

lefthook.yml:

pre-commit:
  commands:
    kotlin-format-check:
      glob: '*.kt'
      run: ./gradlew spotlessCheck
    yaml-format:
      glob: '*.{yml,yaml}'
      run: yq -i -P '.' {staged_files}
    python-format:
      glob: '*.py'
      run: ruff format {staged_files} && ruff check --fix {staged_files}
      # TODO: Add explicit dependency check for ruff in the future

refactor(completion): introduce CompletionContext data class
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
Due: kotlin-format-check

refactor(parser): decompose GroovyTokenIndex.build method
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/tokens/GroovyTokenIndex.kt
Due: kotlin-format-check

refactor(completion): address PR review feedback
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
Due: kotlin-format-check

refactor(parser): address PR review feedback
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/tokens/GroovyTokenIndex.kt
Due: kotlin-format-check

refactor(completion): introduce CompletionContext data class (#290)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
Due: kotlin-format-check

refactor(parser): decompose GroovyTokenIndex.build method (#291)
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/tokens/GroovyTokenIndex.kt
Due: kotlin-format-check

docs(agents): streamline AGENTS.md with progressive disclosure
  .agent/rules/code-quality.md
  .agent/rules/git-workflow.md
  .agent/workflows/conflict-resolution.md
  .agent/workflows/github-actions.md
  .agent/workflows/github-cli.md
  .agent/workflows/github-issues.md
  .gemini/settings.json
  AGENTS.md
Due: none

ci: fix path filter to skip CI for docs-only changes
  .github/workflows/ci.yml
Due: yaml-format

fix: address PR review comments and CI validation
  .agent/workflows/github-cli.md
  .agent/workflows/github-issues.md
  .github/workflows/ci.yml
  AGENTS.md
Due: yaml-format

docs: add experimental notice with PR reference for revert
  AGENTS.md
Due: none

docs(agents): streamline AGENTS.md with progressive disclosure (#292)
  .agent/rules/code-quality.md
  .agent/rules/git-workflow.md
  .agent/workflows/conflict-resolution.md
  .agent/workflows/github-actions.md
  .agent/workflows/github-cli.md
  .agent/workflows/github-issues.md
  .gemini/settings.json
  .github/workflows/ci.yml
  AGENTS.md
Due: yaml-format

refactor(jenkins): extract duplicated string literals into constants
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/StableStepDefinitions.kt
Due: kotlin-format-check

refactor(jenkins): decompose detectFromDocument to reduce complexity
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/completion/JenkinsContextDetector.kt
Due: kotlin-format-check

refactor(spock): decompose build method to reduce complexity
  groovy-spock/src/main/kotlin/com/github/albertocavalcante/groovyspock/SpockBlockIndex.kt
Due: kotlin-format-check

fix: remove unused variables and imports
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/bsp/BspConnectionDetails.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/gdsl/GdslParser.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyWorkspaceService.kt
Due: kotlin-format-check

chore: remove SonarCloud metadata from code comments
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/StableStepDefinitions.kt
Due: kotlin-format-check

perf: pre-compile POST_CONDITION_PATTERN regex at object level
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/completion/JenkinsContextDetector.kt
Due: kotlin-format-check

feat: add /review workflow for PR review and feedback
  .agent/workflows/review.md
  AGENTS.md
Due: none

fix(ci): remove invalid predicate-quantifier from paths-filter
  .github/workflows/ci.yml
Due: yaml-format

chore: address review feedback and add /next workflow
  .agent/workflows/next.md
  .agent/workflows/review.md
Due: none

refactor(jenkins): extract duplicated string literals into constants (#293)
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/StableStepDefinitions.kt
Due: kotlin-format-check

fix(ci): remove invalid predicate-quantifier from paths-filter (#298)
  .github/workflows/ci.yml
Due: yaml-format

feat: add /review workflow for PR review and feedback (#297)
  .agent/workflows/next.md
  .agent/workflows/review.md
  AGENTS.md
Due: none

refactor: simplify loop by removing unused index destructuring
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/gdsl/GdslParser.kt
Due: kotlin-format-check

fix: remove unused variables and imports (#296)
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/bsp/BspConnectionDetails.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/gdsl/GdslParser.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyWorkspaceService.kt
Due: kotlin-format-check

refactor: introduce BlockListBuilder and fix endLine bug
  groovy-spock/src/main/kotlin/com/github/albertocavalcante/groovyspock/SpockBlockIndex.kt
Due: kotlin-format-check

refactor(jenkins): decompose detectFromDocument to reduce complexity (#294)
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/completion/JenkinsContextDetector.kt
Due: kotlin-format-check

refactor(spock): decompose build method to reduce complexity (#295)
  groovy-spock/src/main/kotlin/com/github/albertocavalcante/groovyspock/SpockBlockIndex.kt
Due: kotlin-format-check

fix(ci): enable e2e tests on PRs
  .github/workflows/ci.yml
Due: yaml-format

fix(test): implement Wait step for E2E scenarios
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/Scenario.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioExecutor.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
Due: kotlin-format-check

fix(ci): enable e2e tests on PRs (#299)
  .github/workflows/ci.yml
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/Scenario.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioExecutor.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
Due: kotlin-format-check, yaml-format

fix(e2e): handle null objects in ScenarioContext assertions
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioContext.kt
Due: kotlin-format-check

refactor(e2e): use idiomatic Kotlin null check
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioContext.kt
Due: kotlin-format-check

fix(e2e): handle null objects in ScenarioContext assertions (#300)
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioContext.kt
Due: kotlin-format-check

fix: explicit gradle toolchain configuration and build health improvements
  .envrc
  .gitattributes
  .sdkmanrc
  Makefile
  build.gradle.kts
  groovy-build-tool/build.gradle.kts
  groovy-common/build.gradle.kts
  groovy-diagnostics/api/build.gradle.kts
  groovy-diagnostics/codenarc/build.gradle.kts
  groovy-formatter/build.gradle.kts
  groovy-gdsl/build.gradle.kts
  groovy-junit/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProviderTest.kt
  groovy-parser/build.gradle.kts
  groovy-repl/build.gradle.kts
  groovy-spock/build.gradle.kts
  groovy-testing/build.gradle.kts
  jupyter/kernel-core/build.gradle.kts
  jupyter/kernels/groovy/build.gradle.kts
  jupyter/kernels/jenkins/build.gradle.kts
  settings.gradle.kts
  tools/jenkins-extractor/build.gradle.kts
  tools/macos/setup.sh
Due: kotlin-format-check

refactor: shell script improvements based on PR feedback
  .envrc
  tools/macos/setup.sh
Due: none

fix: explicit gradle toolchain configuration and build health improvements (#301)
  .envrc
  .gitattributes
  .sdkmanrc
  Makefile
  build.gradle.kts
  groovy-build-tool/build.gradle.kts
  groovy-common/build.gradle.kts
  groovy-diagnostics/api/build.gradle.kts
  groovy-diagnostics/codenarc/build.gradle.kts
  groovy-formatter/build.gradle.kts
  groovy-gdsl/build.gradle.kts
  groovy-junit/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProviderTest.kt
  groovy-parser/build.gradle.kts
  groovy-repl/build.gradle.kts
  groovy-spock/build.gradle.kts
  groovy-testing/build.gradle.kts
  jupyter/kernel-core/build.gradle.kts
  jupyter/kernels/groovy/build.gradle.kts
  jupyter/kernels/jenkins/build.gradle.kts
  settings.gradle.kts
  tools/jenkins-extractor/build.gradle.kts
  tools/macos/setup.sh
Due: kotlin-format-check

feat: setup cross-platform /next slash command for Gemini, Claude, and Codex
  .claude/commands/next.md
  .codex/prompts/next.md
  .gemini/commands/next.toml
Due: none

refactor: simplify /next slash command prompts based on review feedback
  .claude/commands/next.md
  .codex/prompts/next.md
Due: none

feat: setup cross-platform /next slash command (#302)
  .claude/commands/next.md
  .codex/prompts/next.md
  .gemini/commands/next.toml
Due: none
