Repository albertocavalcante/groovy-lsp: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-format-check, yaml-format, python-format

lefthook.yml:

pre-commit:
  commands:
    kotlin-format-check:
      glob: '*.kt'
      run: ./gradlew spotlessCheck
    yaml-format:
      glob: '*.{yml,yaml}'
      run: yq -i -P '.' {staged_files}
    python-format:
      glob: '*.py'
      run: ruff format {staged_files} && ruff check --fix {staged_files}
      # TODO: Add explicit dependency check for ruff in the future

feat: Improve Kotlin LSP Installation Script (#309)
  .devcontainer/.gitignore
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  tools/editor/install-kotlin-lsp
Due: none

chore(main): release 0.4.4
  .release-please-manifest.json
  CHANGELOG.md
  build.gradle.kts
Due: none

fix: resolve Spock parsing Script fallback and add E2E disabled scenario convention
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestRequestDelegate.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioLoader.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
  tests/e2e/resources/scenarios/_diagnostics-dedup.yaml
  tests/e2e/resources/scenarios/_discover-tests.yaml
Due: kotlin-format-check, yaml-format

chore: fix spotless formatting in StepExecutors.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserFacade.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
Due: kotlin-format-check

refactor: address PR review comments for safer code
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserFacade.kt
Due: kotlin-format-check

refactor: address PR review comments for safer code
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserFacade.kt
Due: kotlin-format-check

chore(main): release 0.4.4 (#288)
  .release-please-manifest.json
  CHANGELOG.md
  build.gradle.kts
Due: none

fix: refactor GroovyParserFacade for testability and enable test discovery
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestRequestDelegate.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserFacade.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/KitchenSinkCoverageTest.kt
  groovy-spock/src/test/kotlin/com/github/albertocavalcante/groovyspock/SpockDetectorAstTest.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/Scenario.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioContext.kt
  tests/e2e/resources/scenarios/discover-tests.yaml
Due: kotlin-format-check, yaml-format

fix(rename): fix RenameProvider, TypeInferencer issues and improve Spock support
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/references/ReferenceProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/SymbolExtractionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/TestLanguageServerRunner.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/integration/GradleDependencyIntegrationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/SpockBlockCompletionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProviderTest.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserFacade.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolTableBuilder.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/TypeInferencer.kt
  groovy-spock/src/main/kotlin/com/github/albertocavalcante/groovyspock/SpockDetector.kt
  groovy-spock/src/test/kotlin/com/github/albertocavalcante/groovyspock/SpockDetectorTest.kt
Due: kotlin-format-check

fix: robust classloader isolation and test discovery fixes (#311)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/references/ReferenceProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestRequestDelegate.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/SymbolExtractionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/TestLanguageServerRunner.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/integration/GradleDependencyIntegrationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/SpockBlockCompletionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProviderTest.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserFacade.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolTableBuilder.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/TypeInferencer.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/KitchenSinkCoverageTest.kt
  groovy-spock/src/main/kotlin/com/github/albertocavalcante/groovyspock/SpockDetector.kt
  groovy-spock/src/test/kotlin/com/github/albertocavalcante/groovyspock/SpockDetectorAstTest.kt
  groovy-spock/src/test/kotlin/com/github/albertocavalcante/groovyspock/SpockDetectorTest.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/Scenario.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioContext.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioLoader.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
  tests/e2e/resources/scenarios/_diagnostics-dedup.yaml
Due: kotlin-format-check, yaml-format

feat(e2e): add typed support for custom @JsonRequest methods
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/spock/SpockTestDetector.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/LanguageServerSessionFactory.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
  tests/e2e/resources/logback-test.xml
  tests/e2e/resources/scenarios/discover-tests.yaml
  tests/e2e/resources/workspaces/spock-tests/build.gradle
  tests/e2e/resources/workspaces/spock-tests/gradle/wrapper/gradle-wrapper.properties
  tests/e2e/resources/workspaces/spock-tests/gradlew
  tests/e2e/resources/workspaces/spock-tests/settings.gradle
  tests/lsp-client/kotlin/com/github/albertocavalcante/groovylsp/testing/api/GroovyLspApi.kt
  tests/lsp-client/kotlin/com/github/albertocavalcante/groovylsp/testing/client/HarnessLanguageClient.kt
Due: kotlin-format-check, yaml-format

fix: address PR review comments
  .agent/workflows/defer.md
  AGENTS.md
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/LanguageServerSessionFactory.kt
  tests/e2e/resources/scenarios/discover-tests.yaml
  tests/lsp-client/kotlin/com/github/albertocavalcante/groovylsp/testing/api/GroovyLspApi.kt
Due: kotlin-format-check, yaml-format

feat(e2e): add typed support for custom @JsonRequest methods (#313)
  .agent/workflows/defer.md
  AGENTS.md
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/spock/SpockTestDetector.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/LanguageServerSessionFactory.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
  tests/e2e/resources/logback-test.xml
  tests/e2e/resources/scenarios/discover-tests.yaml
  tests/e2e/resources/workspaces/spock-tests/build.gradle
  tests/e2e/resources/workspaces/spock-tests/gradle/wrapper/gradle-wrapper.properties
  tests/e2e/resources/workspaces/spock-tests/gradlew
  tests/e2e/resources/workspaces/spock-tests/settings.gradle
  tests/lsp-client/kotlin/com/github/albertocavalcante/groovylsp/testing/api/GroovyLspApi.kt
  tests/lsp-client/kotlin/com/github/albertocavalcante/groovylsp/testing/client/HarnessLanguageClient.kt
Due: kotlin-format-check, yaml-format

chore(main): release 0.4.5
  .release-please-manifest.json
  CHANGELOG.md
  build.gradle.kts
Due: none

chore(main): release 0.4.5 (#312)
  .release-please-manifest.json
  CHANGELOG.md
  build.gradle.kts
Due: none

feat: implement groovy/status notification for server readiness
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyLanguageClient.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ServerStatus.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/LanguageServerSessionFactory.kt
  tests/lsp-client/kotlin/com/github/albertocavalcante/groovylsp/testing/client/HarnessLanguageClient.kt
Due: kotlin-format-check

feat: implement groovy/status notification for server readiness (#315)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyLanguageClient.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ServerStatus.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/LanguageServerSessionFactory.kt
  tests/lsp-client/kotlin/com/github/albertocavalcante/groovylsp/testing/client/HarnessLanguageClient.kt
Due: kotlin-format-check

fix(security): address workflow security vulnerabilities
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: yaml-format

fix(security): use env block to prevent script injection
  .github/workflows/nightly.yml
Due: yaml-format

fix(security): address workflow security vulnerabilities (#317)
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: yaml-format

fix: address bug and critical code smells
  .github/workflows/mirror-jenkins-extractor.yml
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildTool.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/VarsGlobalVariableProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/utils/ImportUtils.kt
  infra/copybara/jenkins-extractor.bara.sky
  tools/jenkins-extractor/mirror/README.md
  tools/jenkins-extractor/mirror/build.gradle.kts
  tools/jenkins-extractor/mirror/settings.gradle.kts
  tools/jenkins-extractor/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/extractor/GdslToJson.kt
Due: kotlin-format-check, yaml-format

fix: address PR review comments
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/VarsGlobalVariableProvider.kt
  tools/jenkins-extractor/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/extractor/GdslToJson.kt
Due: kotlin-format-check

fix(security): remove unvalidated ref from checkout fallback
  .github/workflows/nightly.yml
Due: yaml-format

chore: remove copybara/mirror files from this PR
  .github/workflows/mirror-jenkins-extractor.yml
  infra/copybara/jenkins-extractor.bara.sky
  tools/jenkins-extractor/mirror/README.md
  tools/jenkins-extractor/mirror/build.gradle.kts
  tools/jenkins-extractor/mirror/settings.gradle.kts
Due: yaml-format

fix: return mvn immediately when mvnw is not executable
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildTool.kt
Due: kotlin-format-check

refactor: simplify getMvnCommand using BuildExecutableResolver.isWindows
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/BuildExecutableResolver.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildTool.kt
Due: kotlin-format-check

refactor: simplify getMvnCommand with early return
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildTool.kt
Due: kotlin-format-check

refactor: consolidate executable resolution in BuildExecutableResolver
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/BuildExecutableResolver.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildTool.kt
Due: kotlin-format-check

fix: restore warning logging for non-executable wrapper
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/BuildExecutableResolver.kt
Due: kotlin-format-check

docs: add git update-index as cross-platform fix for executable permission
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/BuildExecutableResolver.kt
Due: kotlin-format-check

fix: regex now matches annotated def call methods (@NonCPS, etc)
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/VarsGlobalVariableProvider.kt
Due: kotlin-format-check

test: update BuildExecutableResolverTest for absolute paths and executable checks
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/BuildExecutableResolverTest.kt
Due: kotlin-format-check

fix: address bug and critical code smells (#318)
  .github/workflows/nightly.yml
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/BuildExecutableResolver.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildTool.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/BuildExecutableResolverTest.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/VarsGlobalVariableProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/utils/ImportUtils.kt
  tools/jenkins-extractor/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/extractor/GdslToJson.kt
Due: kotlin-format-check, yaml-format

feat(ci): default to GitHub-hosted runners in nightly/release workflows
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  ghalint.yaml
Due: yaml-format

fix(ci): address PR review comments
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: yaml-format

fix(ci): fix BUILD_COMMIT SHA and version consistency
  .github/workflows/release.yml
Due: yaml-format

feat(ci): auto-normalize tag input to add v prefix
  .github/workflows/release.yml
Due: yaml-format

fix(ci): add ref to create-release checkout for consistency
  .github/workflows/release.yml
Due: yaml-format

feat(ci): default to GitHub-hosted runners in nightly/release workflows (#321)
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  ghalint.yaml
Due: yaml-format

fix: merge nested if statements in CompletionProvider
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/BuildExecutableResolverTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
Due: kotlin-format-check
