Repository albertocavalcante/groovy-lsp: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-format-check, yaml-format, python-format

kotlin-format-check:
  run: ./gradlew spotlessCheck

yaml-format:
  run: yq -i -P '.' {staged_files}

python-format:
  run: ruff format {staged_files} && ruff check --fix {staged_files}

style: apply spotless formatting to remaining files
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-spock/src/main/kotlin/com/github/albertocavalcante/groovyspock/SpockDetector.kt
Due: kotlin-format-check

fix: use CONVERSION phase in provider tests to avoid Spock resolution issues
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/codelens/TestCodeLensProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProviderTest.kt
Due: kotlin-format-check

feat: add Test Runner LSP support for Spock specifications (#279)
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/BuildExecutableResolver.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/BuildTool.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/TestCommand.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildTool.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildTool.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/BuildExecutableResolverTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/codelens/TestCodeLensProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryDtos.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/codelens/TestCodeLensProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProviderTest.kt
  groovy-spock/src/main/kotlin/com/github/albertocavalcante/groovyspock/SpockDetector.kt
  groovy-spock/src/main/kotlin/com/github/albertocavalcante/groovyspock/SpockFeatureExtractor.kt
  lefthook.yml
  settings.gradle.kts
Due: kotlin-format-check, yaml-format

feat: add groovy-testing module and refactor test runner architecture
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationContext.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/codelens/TestCodeLensProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/DiagnosticsService.kt
  groovy-testing/build.gradle.kts
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/api/TestFramework.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/api/TestFrameworkDetector.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/api/TestItem.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/registry/TestFrameworkRegistry.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/spock/SpockTestDetector.kt
  groovy-testing/src/test/kotlin/com/github/albertocavalcante/groovytesting/registry/TestFrameworkRegistryTest.kt
  settings.gradle.kts
Due: kotlin-format-check

fix(pr-comments): remove placeholder and restore Spock inheritance check
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/api/TestFrameworkDetector.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/registry/TestFrameworkRegistry.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/spock/SpockTestDetector.kt
Due: kotlin-format-check

fix(codelens): pass classLoader for consistent test detection
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/codelens/TestCodeLensProvider.kt
Due: kotlin-format-check

feat: add groovy-testing module and refactor test runner architecture (#281)
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationContext.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/codelens/TestCodeLensProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/DiagnosticsService.kt
  groovy-testing/build.gradle.kts
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/api/TestFramework.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/api/TestFrameworkDetector.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/api/TestItem.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/registry/TestFrameworkRegistry.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/spock/SpockTestDetector.kt
  groovy-testing/src/test/kotlin/com/github/albertocavalcante/groovytesting/registry/TestFrameworkRegistryTest.kt
  settings.gradle.kts
Due: kotlin-format-check

feat: Semantic LSP Bridge (AI Tools) (#82)
  editors/code/client/src/extension.ts
  editors/code/client/src/features/ai/CommandProvider.ts
  editors/code/client/src/features/ai/LMToolProvider.ts
  editors/code/client/src/features/ai/LSPToolService.ts
  editors/code/client/src/features/ai/ToolRegistry.ts
  editors/code/client/src/features/ai/types.ts
  editors/code/client/test/unit/features/ai/LSPToolService.test.ts
  editors/code/client/test/unit/features/ai/ToolRegistry.test.ts
  editors/code/package.json
Due: none

feat: add JUnit 5 support and migrate to version catalog
  gradle/libs.versions.toml
  groovy-junit/build.gradle.kts
  groovy-junit/src/main/kotlin/com/github/albertocavalcante/groovyjunit/junit/JUnit5TestDetector.kt
  groovy-junit/src/test/kotlin/com/github/albertocavalcante/groovyjunit/junit/JUnit5TestDetectorTest.kt
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  settings.gradle.kts
Due: kotlin-format-check

fix(junit5): improve test detection for non-api packages and add TestTemplate
  groovy-junit/src/main/kotlin/com/github/albertocavalcante/groovyjunit/junit/JUnit5TestDetector.kt
  groovy-junit/src/test/kotlin/com/github/albertocavalcante/groovyjunit/junit/JUnit5TestDetectorTest.kt
Due: kotlin-format-check

feat: Add JUnit 5 Support (#282)
  gradle/libs.versions.toml
  groovy-junit/build.gradle.kts
  groovy-junit/src/main/kotlin/com/github/albertocavalcante/groovyjunit/junit/JUnit5TestDetector.kt
  groovy-junit/src/test/kotlin/com/github/albertocavalcante/groovyjunit/junit/JUnit5TestDetectorTest.kt
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  settings.gradle.kts
Due: kotlin-format-check

feat(junit4): implement JUnit 4 support
  JENKINS_IMPLEMENTATION_REVIEW.md
  gradle/libs.versions.toml
  groovy-junit/build.gradle.kts
  groovy-junit/src/main/kotlin/com/github/albertocavalcante/groovyjunit/junit4/JUnit4TestDetector.kt
  groovy-junit/src/test/kotlin/com/github/albertocavalcante/groovyjunit/junit4/JUnit4TestDetectorTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
Due: kotlin-format-check

chore: remove accidentally committed JENKINS_IMPLEMENTATION_REVIEW.md
  JENKINS_IMPLEMENTATION_REVIEW.md
Due: none

feat(junit4): refine detection logic and add regression tests
  JENKINS_IMPLEMENTATION_REVIEW.md
  groovy-junit/src/main/kotlin/com/github/albertocavalcante/groovyjunit/junit4/JUnit4TestDetector.kt
  groovy-junit/src/test/kotlin/com/github/albertocavalcante/groovyjunit/junit4/JUnit4TestDetectorTest.kt
Due: kotlin-format-check

chore: clean up PR and fix ReturnCount lint in JUnit4TestDetector
  JENKINS_IMPLEMENTATION_REVIEW.md
  groovy-junit/src/main/kotlin/com/github/albertocavalcante/groovyjunit/junit4/JUnit4TestDetector.kt
Due: kotlin-format-check

feat(junit4): implement JUnit 4 support (#283)
  gradle/libs.versions.toml
  groovy-junit/build.gradle.kts
  groovy-junit/src/main/kotlin/com/github/albertocavalcante/groovyjunit/junit4/JUnit4TestDetector.kt
  groovy-junit/src/test/kotlin/com/github/albertocavalcante/groovyjunit/junit4/JUnit4TestDetectorTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
Due: kotlin-format-check

chore(main): release 0.4.2
  .release-please-manifest.json
  CHANGELOG.md
  build.gradle.kts
Due: none

chore(main): release 0.4.2 (#280)
  .release-please-manifest.json
  CHANGELOG.md
  build.gradle.kts
Due: none

feat: Spock Test Scaffolding (#83)
  editors/code/client/src/extension.ts
  editors/code/client/src/features/ai/LMToolProvider.ts
  editors/code/client/src/features/ai/LSPToolService.ts
  editors/code/client/src/features/ai/ToolRegistry.ts
  editors/code/client/src/features/ai/types.ts
  editors/code/client/src/features/testing/SpockGenerator.ts
  editors/code/client/src/features/testing/TestFeature.ts
  editors/code/client/src/test/integration/TestFeature.test.ts
  editors/code/client/test/unit/features/ai/LSPToolService.test.ts
  editors/code/client/test/unit/features/ai/ToolRegistry.test.ts
  editors/code/client/test/unit/features/testing/SpockGenerator.test.ts
  editors/code/package.json
Due: none

feat(jenkins): add EnrichmentMetadataLoader for loading curated metadata
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/enrichment/EnrichmentMetadataLoader.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/enrichment/EnrichmentMetadataLoaderTest.kt
Due: kotlin-format-check

feat(jenkins): add mergeWithEnrichment() to MetadataMerger
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/MetadataMerger.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/MetadataMergerEnrichmentTest.kt
Due: kotlin-format-check

feat(jenkins): update VersionedMetadataLoader to return MergedJenkinsMetadata
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/VersionedMetadataLoader.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/VersionedMetadataLoaderTest.kt
Due: kotlin-format-check

refactor(lsp): migrate completion and hover providers to MergedJenkinsMetadata
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsStepCompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverProvider.kt
Due: kotlin-format-check

refactor(jenkins): update JenkinsContext to use MergedJenkinsMetadata
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsContext.kt
Due: kotlin-format-check

fix(jenkins): add fallback to bundled metadata in mergeWithEnrichment
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/MetadataMerger.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/MetadataMergerEnrichmentTest.kt
Due: kotlin-format-check

feat(jenkins): integrate enrichment metadata into LSP providers (#284)
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsContext.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/MetadataMerger.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/VersionedMetadataLoader.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/enrichment/EnrichmentMetadataLoader.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/MetadataMergerEnrichmentTest.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/VersionedMetadataLoaderTest.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/enrichment/EnrichmentMetadataLoaderTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsStepCompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverProvider.kt
Due: kotlin-format-check

fix(lsp): handle null plugin field in hover tooltip
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverProvider.kt
Due: kotlin-format-check

feat(lsp): add SnippetBuilder for type-aware parameter snippets
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/SnippetBuilder.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/SnippetBuilderTest.kt
Due: kotlin-format-check

feat(lsp): integrate SnippetBuilder into parameter completions
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsStepCompletionProvider.kt
Due: kotlin-format-check

fix(lsp): address PR feedback for SnippetBuilder
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/SnippetBuilder.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/SnippetBuilderTest.kt
Due: kotlin-format-check

feat(lsp): smart parameter snippets with type-aware templates (#286)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsStepCompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/SnippetBuilder.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/SnippetBuilderTest.kt
Due: kotlin-format-check

chore(main): release 0.4.3
  .release-please-manifest.json
  CHANGELOG.md
  build.gradle.kts
Due: none

chore(main): release 0.4.3 (#285)
  .release-please-manifest.json
  CHANGELOG.md
  build.gradle.kts
Due: none

feat(lsp): add intelligent parameter sorting (required first)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsStepCompletionProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsStepCompletionProviderTest.kt
Due: kotlin-format-check

feat(jenkins): expand global variable property enrichment
  groovy-jenkins/src/main/resources/jenkins-enrichment.json
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/enrichment/EnrichmentMetadataLoaderTest.kt
Due: kotlin-format-check

feat(lsp): intelligent parameter sorting and enrichment expansion (#287)
  groovy-jenkins/src/main/resources/jenkins-enrichment.json
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/enrichment/EnrichmentMetadataLoaderTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsStepCompletionProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsStepCompletionProviderTest.kt
Due: kotlin-format-check

feat(lsp): AST-based property completions for Jenkins globals
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsPropertyCompletionTest.kt
Due: kotlin-format-check

feat: enhance completion resilience and configure hermetic java
  .java-version
  .sdkmanrc
  build.gradle.kts
  groovy-jenkins/build.gradle.kts
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsPropertyCompletionTest.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/tokens/GroovyTokenIndex.kt
Due: kotlin-format-check

refactor(lsp): address PR review comments
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
Due: kotlin-format-check

feat(lsp): AST-based property completions for Jenkins globals (#289)
  .java-version
  .sdkmanrc
  build.gradle.kts
  groovy-jenkins/build.gradle.kts
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsPropertyCompletionTest.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/tokens/GroovyTokenIndex.kt
Due: kotlin-format-check

Path conditions:
  kotlin-format-check: any of: *.kt
  yaml-format: any of: *.{yml,yaml}
  python-format: any of: *.py
