Repository albertocavalcante/groovy-lsp: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-format-check, yaml-format, python-format

lefthook.yml:

pre-commit:
  commands:
    kotlin-format-check:
      glob: '*.kt'
      run: ./gradlew spotlessCheck
    yaml-format:
      glob: '*.{yml,yaml}'
      run: yq -i -P '.' {staged_files}
    python-format:
      glob: '*.py'
      run: ruff format {staged_files} && ruff check --fix {staged_files}
      # TODO: Add explicit dependency check for ruff in the future

feat(ci): automate homebrew tap updates
  .github/workflows/release.yml
Due: yaml-format

chore(main): release 0.1.1-alpha.0
  editors/code/CHANGELOG.md
  editors/code/package-lock.json
  editors/code/package.json
  tools/release-please/manifest.json
Due: none

chore(main): release 0.4.6
  CHANGELOG.md
  build.gradle.kts
  tools/release-please/manifest.json
Due: none

feat(release): unify release-please config for single changelog
  tools/release-please/config.json
  tools/release-please/manifest.json
Due: none

fix(release): sync manifest version with latest tag (v0.4.5)
  tools/release-please/manifest.json
Due: none

fix: restore onLanguage activation events for groovy/jenkinsfile
  editors/code/package.json
Due: none

feat: unified release model + gvy extension rebrand
  editors/code/package.json
Due: none

fix(automation): fix copybara config (add_header) and unify release-please tags
  infra/copybara/vscode-groovy.bara.sky
Due: none

fix(release): use pinned SHA for homebrew action and explicit copybara headers
  .github/workflows/release.yml
  infra/copybara/vscode-groovy.bara.sky
Due: yaml-format

fix(release): use bump-homebrew-formula-action@v3.6
  .github/workflows/release.yml
Due: yaml-format

fix(release): produce generic artifact and fix homebrew download url
  .github/workflows/release.yml
Due: yaml-format

feat(release): Final Polish (Manifest, Config, Homebrew) (#352)
  .github/workflows/release.yml
  tools/release-please/config.json
  tools/release-please/manifest.json
Due: yaml-format

chore: release main
  CHANGELOG.md
  build.gradle.kts
  editors/code/package.json
  tools/release-please/manifest.json
Due: none

chore: release 0.4.6 (#353)
  CHANGELOG.md
  build.gradle.kts
  editors/code/package.json
  tools/release-please/manifest.json
Due: none

fix(infra): revert copybara add_header to single-string format
  infra/copybara/vscode-groovy.bara.sky
Due: none

fix(infra): use single-string format for copybara add_header
  infra/copybara/vscode-groovy.bara.sky
Due: none

fix(infra): use single-string format for copybara add_header (#354)
  infra/copybara/vscode-groovy.bara.sky
Due: none

feat: centralize release logic in release.sh, pin actions, and build VSIX
  .github/workflows/release.yml
  Makefile
  tools/release.sh
Due: yaml-format

fix: update actions to latest released versions pinned by SHA
  .github/workflows/release.yml
  tools/fetch-action-shas.sh
Due: yaml-format

feat: add tools/pin-actions.sh helper script
  tools/fetch-action-shas.sh
  tools/pin-actions.sh
Due: none

refactor: move pin-actions.sh to tools/github/actions/
  tools/github/actions/pin-actions.sh
Due: none

chore: ignore dist/ and server jar artifacts
  .gitignore
Due: none

chore: ignore whole server/ directory
  editors/code/.gitignore
Due: none

refactor: safe package.json restore, shellcheck fixes, rename helper
  tools/github/actions/pin.sh
  tools/release.sh
Due: none

fix: define RED variable in pin.sh
  tools/github/actions/pin.sh
Due: none

fix(ci): duplicate yaml key and npm ci working dir
  .github/workflows/release.yml
Due: yaml-format

chore: delegate git hook to external script
  settings.gradle.kts
  tools/hooks/pre-commit
Due: none

fix(release): align version validation, include tests, and fix artifact naming
  .github/workflows/release.yml
  tools/release.sh
Due: yaml-format

feat: centralized release script and pinned actions (#358)
  .github/workflows/release.yml
  .gitignore
  Makefile
  editors/code/.gitignore
  settings.gradle.kts
  tools/github/actions/pin.sh
  tools/hooks/pre-commit
  tools/release.sh
Due: yaml-format

chore: add codex prompt sync
  tools/codex/prompts/next.md
  tools/codex/sync.sh
Due: none

chore: add codex prompt sync (#361)
  tools/codex/prompts/next.md
  tools/codex/sync.sh
Due: none

refactor: streamline parser utilities and build watchers
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/BuildToolManager.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/DefaultBuildFileWatcher.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildFileWatcher.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildFiles.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildTool.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildFileWatcher.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildFiles.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildTool.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceJarExtractor.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceNavigationService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceJarExtractorTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceNavigationServiceTest.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/AstPositionQuery.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/CoordinateSystem.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/NodeExtensions.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/PositionUtils.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/errors/GroovyParserResultRecovery.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/CoordinateSystemTest.kt
Due: kotlin-format-check

docs: require temp files for gh PR bodies
  AGENTS.md
Due: none

fix: debounce build file watcher
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/DefaultBuildFileWatcher.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildFileWatcherTest.kt
Due: kotlin-format-check

refactor: simplify watcher poll timeout
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/DefaultBuildFileWatcher.kt
Due: kotlin-format-check

refactor: streamline parser utilities and build watchers (#362)
  AGENTS.md
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/BuildToolManager.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/DefaultBuildFileWatcher.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildFileWatcher.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildFiles.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildTool.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildFileWatcher.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildFiles.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildTool.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildFileWatcherTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceJarExtractor.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceNavigationService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceJarExtractorTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceNavigationServiceTest.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/AstPositionQuery.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/CoordinateSystem.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/NodeExtensions.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/PositionUtils.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/errors/GroovyParserResultRecovery.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/CoordinateSystemTest.kt
Due: kotlin-format-check
