Repository albertocavalcante/groovy-lsp: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-format-check, yaml-format, python-format

kotlin-format-check:
  run: ./gradlew spotlessCheck

yaml-format:
  run: yq -i -P '.' {staged_files}

python-format:
  run: ruff format {staged_files} && ruff check --fix {staged_files}

feat(jenkins): stabilize metadata ordering
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/MetadataMerger.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/MetadataMergerTest.kt
Due: kotlin-format-check

test: add comprehensive unit tests for AstCache
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/AstCacheTest.kt
Due: kotlin-format-check

feat(jenkins): stabilize metadata ordering (#439)
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/MetadataMerger.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/MetadataMergerTest.kt
Due: kotlin-format-check

test: add comprehensive unit tests for AstCache (#437)
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/AstCacheTest.kt
Due: kotlin-format-check

feat(lsp): stabilize classpath completions (#438)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathServiceTest.kt
Due: kotlin-format-check

refactor: extract duplicated string literals to constants (#436)
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/TypeInferencer.kt
  groovy-spock/src/main/kotlin/com/github/albertocavalcante/groovyspock/SpockDetector.kt
Due: kotlin-format-check

refactor: remove useless null checks and elvis operators
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/MetadataMerger.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  jupyter/kernel-core/src/main/kotlin/com/github/albertocavalcante/groovyjupyter/handlers/ExecuteHandler.kt
Due: kotlin-format-check

refactor(lsp): simplify LRU cache
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cache/LRUCache.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/cache/LRUCacheTest.kt
Due: kotlin-format-check

refactor: remove useless null checks and elvis operators (#440)
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/MetadataMerger.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  jupyter/kernel-core/src/main/kotlin/com/github/albertocavalcante/groovyjupyter/handlers/ExecuteHandler.kt
Due: kotlin-format-check

feat(lsp): add classpath indexer
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathIndex.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathServiceTest.kt
Due: kotlin-format-check

refactor(lsp): simplify LRU cache (#441)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cache/LRUCache.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/cache/LRUCacheTest.kt
Due: kotlin-format-check

feat(lsp): add classpath indexer (#442)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathIndex.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathServiceTest.kt
Due: kotlin-format-check

refactor: remove commented-out debug logging
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
Due: kotlin-format-check

refactor: remove commented-out debug logging (#443)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
Due: kotlin-format-check

refactor: inject coroutine dispatchers for testability
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestRequestDelegate.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
Due: kotlin-format-check

feat(parser): track AST children
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/GroovyAstModel.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/NodeRelationshipTracker.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveAstVisitor.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/NodeRelationshipTrackerTest.kt
Due: kotlin-format-check

refactor: inject coroutine dispatchers for testability (#445)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestRequestDelegate.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
Due: kotlin-format-check

Add activity feed API
  graphite-demo/server.js
Due: none

refactor: encapsulate mutable collection in GroovyTokenIndex
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/tokens/GroovyTokenIndex.kt
Due: kotlin-format-check

fix(ci): rebuild shadow jar for verification
  .github/workflows/ci.yml
Due: yaml-format

refactor: encapsulate mutable collection in GroovyTokenIndex (#449)
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/tokens/GroovyTokenIndex.kt
Due: kotlin-format-check

fix(ci): simplify jar verification
  .github/workflows/ci.yml
Due: yaml-format

fix: log CancellationException at DEBUG level in DiagnosticsService
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/DiagnosticsService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/DiagnosticsServiceTest.kt
Due: kotlin-format-check

fix(ci): avoid rebuilding jar when present
  .github/workflows/ci.yml
Due: yaml-format

fix: ensure CancellationException propagates in inner catch block
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/DiagnosticsService.kt
Due: kotlin-format-check

test: update GroovyAstModel mock
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocumentationServiceTest.kt
Due: kotlin-format-check

test: clarify GroovyAstModel stub
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocumentationServiceTest.kt
Due: kotlin-format-check

refactor(ci): reuse resolved jar path
  .github/workflows/ci.yml
Due: yaml-format

refactor(ci): centralize primary OS selection
  .github/workflows/ci.yml
Due: yaml-format

feat(parser): track AST children (#446)
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocumentationServiceTest.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/GroovyAstModel.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/NodeRelationshipTracker.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveAstVisitor.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/NodeRelationshipTrackerTest.kt
Due: kotlin-format-check

fix(ci): match shadow jar name
  .github/workflows/ci.yml
Due: yaml-format

fix(ci): skip shadow jar rebuild
  .github/workflows/ci.yml
Due: yaml-format

fix(ci): align primary OS with jar build
  .github/workflows/ci.yml
Due: yaml-format

fix(ci): rebuild shadow jar for verification (#450)
  .github/workflows/ci.yml
Due: yaml-format

test: add coverage for CancellationException handling
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/DiagnosticsServiceTest.kt
Due: kotlin-format-check

fix(ci): align nightly jar name
  .github/workflows/nightly.yml
Due: yaml-format

fix(ci): align nightly jar name (#452)
  .github/workflows/nightly.yml
Due: yaml-format

refactor(ci): honor primary OS for PR matrix
  .github/workflows/ci.yml
Due: yaml-format

refactor(ci): honor primary OS for PR matrix (#453)
  .github/workflows/ci.yml
Due: yaml-format

Path conditions:
  kotlin-format-check: any of: *.kt
  yaml-format: any of: *.{yml,yaml}
  python-format: any of: *.py
