Repository albertocavalcante/groovy-lsp: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-format-check, yaml-format, python-format

kotlin-format-check:
  run: ./gradlew spotlessCheck

yaml-format:
  run: yq -i -P '.' {staged_files}

python-format:
  run: ruff format {staged_files} && ruff check --fix {staged_files}

fix: make KernelExecutor a functional interface
  jupyter/kernel-core/src/main/kotlin/com/github/albertocavalcante/groovyjupyter/kernel/core/KernelExecutor.kt
Due: kotlin-format-check

fix: address PR review comments
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/BuildExecutableResolverTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
Due: kotlin-format-check

fix: make KernelExecutor a functional interface (#323)
  jupyter/kernel-core/src/main/kotlin/com/github/albertocavalcante/groovyjupyter/kernel/core/KernelExecutor.kt
Due: kotlin-format-check

fix: merge nested if statements in CompletionProvider (#322)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
Due: kotlin-format-check

fix(ci): use pattern matching for OS detection in release workflow
  .github/workflows/release.yml
Due: yaml-format

fix(ci): use pattern matching for OS detection in release workflow (#324)
  .github/workflows/release.yml
Due: yaml-format

chore: update references for monorepo structure
  Makefile
  README.md
  editors/code/package.json
Due: none

ci: add extension workflow ported from vscode-groovy
  .github/workflows/extension.yml
Due: yaml-format

ci: add extension nightly workflow
  .github/workflows/extension-nightly.yml
Due: yaml-format

ci: add copilot-setup-steps for extension development
  .github/workflows/copilot-setup-steps.yml
Due: yaml-format

ci: integrate extension publish into release workflow
  .github/workflows/release.yml
Due: yaml-format

chore: configure release-please for multi-package monorepo
  .release-please-manifest.json
  release-please-config.json
Due: none

build: add Copybara config for vscode-groovy mirror
  infra/copybara/vscode-groovy.bara.sky
Due: none

ci: add workflow for vscode-groovy mirror sync
  .github/workflows/mirror-vscode-groovy.yml
Due: yaml-format

docs: move extension docs to docs/extension/
  docs/JENKINS_EXTRACTOR_STANDALONE_MIGRATION.md
  docs/extension/COPILOT.md
  docs/extension/RELEASES.md
  docs/extension/TESTING.md
Due: none

chore: remove ported and duplicate files from editors/code/
  editors/code/.aider.conf.yml
  editors/code/.gemini/settings.json
  editors/code/.github/.release-please-manifest-alpha.json
  editors/code/.github/release-please-config-alpha.json
  editors/code/.github/workflows/copilot-setup-steps.yml
  editors/code/.github/workflows/main.yml
  editors/code/.github/workflows/nightly.yml
  editors/code/.github/workflows/pr.yml
  editors/code/.github/workflows/publish.yml
  editors/code/.github/workflows/release-alpha.yml
  editors/code/.github/workflows/release-please.yml
  editors/code/.release-please-config.json
  editors/code/.release-please-manifest.json
  editors/code/CLAUDE.md
  editors/code/commitlint.config.js
  editors/code/release-please-config.json
  editors/code/renovate.json
Due: yaml-format

chore: remove redundant PHONY declaration in Makefile
  Makefile
Due: none

refactor: convert require to ES6 import in extension.ts
  editors/code/client/src/extension.ts
Due: none

fix: include resources/ in vscodeignore allowlist
  editors/code/.vscodeignore
Due: none

fix: add null checks in LSPToolService methods
  editors/code/client/src/features/ai/LSPToolService.ts
Due: none

fix: correct VSIX path in release workflow
  .github/workflows/release.yml
Due: yaml-format

ci: enable extension tests on PRs and silence copilot workflow
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/extension.yml
Due: yaml-format

fix: resolve lint errors in AI features and tests
  editors/code/client/src/features/ai/CommandProvider.ts
  editors/code/client/src/features/ai/LMToolProvider.ts
  editors/code/client/src/features/ai/ToolRegistry.ts
  editors/code/client/src/features/ai/types.ts
  editors/code/client/src/test/integration/TestFeature.test.ts
Due: none

fix: resolve automated review findings
  editors/code/client/src/features/gradle/GradleTaskProvider.ts
  editors/code/client/src/features/testing/SpockGenerator.ts
Due: none

fix: make SpockGenerator tests platform-agnostic
  editors/code/client/test/unit/features/testing/SpockGenerator.test.ts
Due: none

refactor: improve Makefile maintainability and remove dead code
  Makefile
  editors/code/client/src/features/testing/TestRunner.ts
  editors/code/client/test/unit/features/testing/TestRunner.test.ts
Due: none

fix: improve branch coverage accuracy
  editors/code/client/src/features/testing/CoverageService.ts
Due: none

test: add unit tests for CoverageService branch logic
  editors/code/client/test/unit/features/testing/CoverageService.test.ts
Due: none

chore: ensure extension dependencies are installed before build/test
  Makefile
Due: none

fix(test): use default import for proxyquire to resolve TS2349
  editors/code/client/test/unit/features/testing/CoverageService.test.ts
Due: none

fix(test): correct CoverageService relative path and resolve TS2349
  editors/code/client/test/unit/features/testing/CoverageService.test.ts
Due: none

fix(test): use noCallThru() in CoverageService test to force vscode mocking
  editors/code/client/test/unit/features/testing/CoverageService.test.ts
Due: none

fix(test): use sinon.match for paths in CoverageService test to support Windows
  editors/code/client/test/unit/features/testing/CoverageService.test.ts
Due: none

fix(test): simplify CoverageService file mocks to be unconditional
  editors/code/client/test/unit/features/testing/CoverageService.test.ts
Due: none

fix: reset regex lastIndex in CoverageService to avoid skipping matches
  editors/code/client/src/features/testing/CoverageService.ts
  editors/code/client/test/unit/features/testing/CoverageService.test.ts
Due: none

fix(ci): update copybara-action to v1.2.5
  .github/workflows/mirror-vscode-groovy.yml
Due: yaml-format

fix(ci): update copybara-action to v1.2.5 (#329)
  .github/workflows/mirror-vscode-groovy.yml
Due: yaml-format

feat(ci): add workflow_dispatch to mirror workflow
  .github/workflows/mirror-vscode-groovy.yml
Due: yaml-format

feat(ci): allow manual trigger for mirror workflow (#330)
  .github/workflows/mirror-vscode-groovy.yml
Due: yaml-format

fix(ci): use correct input 'custom_config' for copybara action
  .github/workflows/mirror-vscode-groovy.yml
Due: yaml-format

Path conditions:
  kotlin-format-check: any of: *.kt
  yaml-format: any of: *.{yml,yaml}
  python-format: any of: *.py
