Repository albertocavalcante/groovy-lsp: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-format-check, yaml-format, python-format

kotlin-format-check:
  run: ./gradlew spotlessCheck

yaml-format:
  run: yq -i -P '.' {staged_files}

python-format:
  run: ruff format {staged_files} && ruff check --fix {staged_files}

fix(ci): use correct input 'custom_config' for copybara action (#332)
  .github/workflows/mirror-vscode-groovy.yml
Due: yaml-format

fix(infra): use SSH URL for copybara destination to enable auth
  infra/copybara/vscode-groovy.bara.sky
Due: none

fix(infra): use SSH URL for copybara destination (#333)
  infra/copybara/vscode-groovy.bara.sky
Due: none

chore(infra): enhance copybara author preservation
  infra/copybara/vscode-groovy.bara.sky
Due: none

chore(infra): enhance copybara author preservation (#334)
  infra/copybara/vscode-groovy.bara.sky
Due: none

fix(copybara): explicitly expose Closes and Fixes trailers
  infra/copybara/vscode-groovy.bara.sky
Due: none

fix(copybara): explicitly expose Closes and Fixes trailers and add warning footer
  infra/copybara/vscode-groovy.bara.sky
Due: none

fix(copybara): preserve Closes/Fixes and add read-only warning (#335)
  infra/copybara/vscode-groovy.bara.sky
Due: none

fix(security): add tag validation to prevent script injection
  .github/workflows/release.yml
Due: yaml-format

fix(security): use env block to prevent script injection in validation step
  .github/workflows/release.yml
Due: yaml-format

fix(security): add tag validation to prevent script injection (#336)
  .github/workflows/release.yml
Due: yaml-format

refactor: rebrand groovy-lsp to gls CLI
  .gls
  editors/code/tools/prepare-server.js
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/config/UserMetadataLoader.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsPluginMetadataExtractorIntegrationTest.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/config/UserMetadataLoaderTest.kt
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/Main.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationErrorHandler.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/dsl/DiagnosticDsl.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/JdkSourceResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceJarExtractor.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/MainTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/dsl/DiagnosticDslTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionResolverFallbackTest.kt
Due: kotlin-format-check

fix: address PR review feedback
  editors/code/tools/prepare-server.js
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/Main.kt
Due: kotlin-format-check

fix: update remaining groovy-lsp.jar references to gls.jar
  editors/code/AGENTS.md
  editors/code/CONTRIBUTING.md
  editors/code/client/src/services/ServerResolver.ts
  editors/code/client/test/unit/services/ServerResolver.test.ts
  editors/code/tools/validate-server.js
Due: none

refactor: rebrand groovy-lsp to gls CLI (#342)
  .gls
  editors/code/AGENTS.md
  editors/code/CONTRIBUTING.md
  editors/code/client/src/services/ServerResolver.ts
  editors/code/client/test/unit/services/ServerResolver.test.ts
  editors/code/tools/prepare-server.js
  editors/code/tools/validate-server.js
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/config/UserMetadataLoader.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsPluginMetadataExtractorIntegrationTest.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/config/UserMetadataLoaderTest.kt
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/Main.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationErrorHandler.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/dsl/DiagnosticDsl.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/JdkSourceResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceJarExtractor.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/MainTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/dsl/DiagnosticDslTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionResolverFallbackTest.kt
Due: kotlin-format-check

chore(release): rename artifacts from groovy-lsp to gls
  .github/workflows/release.yml
Due: yaml-format

chore(release): rename artifacts from groovy-lsp to gls (#343)
  .github/workflows/release.yml
Due: yaml-format

feat: unified release model + gvy extension rebrand
  .github/workflows/release.yml
  editors/code/package.json
Due: yaml-format

chore: update release branding to Groovy DevTools
  .github/workflows/release.yml
Due: yaml-format

chore: update LICENSE copyright to 2025 Alberto Cavalcante
  LICENSE
  editors/code/LICENSE
Due: none

fix: restore onLanguage activation events for groovy/jenkinsfile
  editors/code/package.json
Due: none

fix: update release notes - gvy as IDE extension, remove marketplace claim
  .github/workflows/release.yml
Due: yaml-format

chore: remove .kiro from git and add to gitignore
  .gitignore
  .kiro/specs/codenarc-lint-fixes/design.md
  .kiro/specs/codenarc-lint-fixes/requirements.md
  .kiro/specs/codenarc-lint-fixes/tasks.md
Due: none

chore: fix gitignore typo
  .gitignore
Due: none

chore(main): release vscode-groovy 0.1.1-alpha.0
  .release-please-manifest.json
  editors/code/CHANGELOG.md
  editors/code/package-lock.json
  editors/code/package.json
Due: none

fix(test): update extension ID and User-Agent for gvy rebrand
  editors/code/client/src/features/update/GitHubReleaseProvider.ts
  editors/code/client/src/test/integration/extension.test.ts
  editors/code/client/test/unit/features/update/GitHubReleaseProvider.test.ts
Due: none

fix: update issue reporting URL to groovy-lsp repo
  editors/code/client/src/server/client.ts
Due: none

fix(ci): fix release workflow manual trigger - use correct ref/tag names
  .github/workflows/release.yml
Due: yaml-format

fix(test): wait for extension activation in TestFeature.test.ts
  editors/code/client/src/test/integration/TestFeature.test.ts
Due: none

fix(ci): expose create-release job outputs (tag_name) for downstream jobs
  .github/workflows/release.yml
Due: yaml-format

feat: unified release model + gvy extension rebrand (#347)
  .github/workflows/release.yml
  .gitignore
  .kiro/specs/codenarc-lint-fixes/design.md
  .kiro/specs/codenarc-lint-fixes/requirements.md
  .kiro/specs/codenarc-lint-fixes/tasks.md
  LICENSE
  editors/code/LICENSE
  editors/code/client/src/features/update/GitHubReleaseProvider.ts
  editors/code/client/src/server/client.ts
  editors/code/client/src/test/integration/TestFeature.test.ts
  editors/code/client/src/test/integration/extension.test.ts
  editors/code/client/test/unit/features/update/GitHubReleaseProvider.test.ts
  editors/code/package.json
Due: yaml-format

feat: unified release model + gvy extension rebrand
  editors/code/package.json
Due: none

fix(automation): fix copybara config (add_header) and unify release-please tags
  infra/copybara/vscode-groovy.bara.sky
  release-please-config.json
Due: none

fix(meta): update references to groovy-devtools repo
  editors/code/client/src/server/client.ts
  editors/code/package.json
  infra/copybara/vscode-groovy.bara.sky
Due: none

refactor(release): move release-please config to tools/release-please
  .github/workflows/release-please.yml
  tools/release-please/README.md
  tools/release-please/config.json
  tools/release-please/manifest.json
Due: yaml-format

feat: Unified Release Model & Groovy DevTools Brand (#350)
  .github/workflows/release-please.yml
  editors/code/client/src/server/client.ts
  editors/code/package.json
  infra/copybara/vscode-groovy.bara.sky
  tools/release-please/README.md
  tools/release-please/config.json
  tools/release-please/manifest.json
Due: yaml-format

refactor(release): move release-please config to tools/release-please
  .github/workflows/release-please.yml
  infra/copybara/vscode-groovy.bara.sky
  tools/release-please/README.md
  tools/release-please/config.json
  tools/release-please/manifest.json
Due: yaml-format

Path conditions:
  kotlin-format-check: any of: *.kt
  yaml-format: any of: *.{yml,yaml}
  python-format: any of: *.py
