Repository albertocavalcante/groovy-lsp: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-format-check, yaml-format, python-format

kotlin-format-check:
  run: ./gradlew spotlessCheck

yaml-format:
  run: yq -i -P '.' {staged_files}

python-format:
  run: ruff format {staged_files} && ruff check --fix {staged_files}

test: align folding ranges with editor conventions (exclude braces)
  tests/e2e/resources/scenarios/_folding-range-basic.yaml
Due: yaml-format

docs: refine E2E workflow per review
  .agent/workflows/tests-tests-tests.md
Due: none

docs: fix structural regression in Path B
  .agent/workflows/tests-tests-tests.md
Due: none

feat(lsp): add worker router (#416)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerRouter.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerRouterTest.kt
Due: kotlin-format-check

feat(lsp): select worker during startup
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManagerWorkerSelectionTest.kt
Due: kotlin-format-check

feat(lsp): reselect worker on config change
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyWorkspaceService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerDefaults.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyWorkspaceServiceTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManagerWorkerSelectionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/test/TestVersions.kt
Due: kotlin-format-check

test: add code action and folding tests (#417)
  tests/e2e/resources/scenarios/_folding-range-basic.yaml
  tests/e2e/resources/scenarios/code-action-basic.yaml
Due: yaml-format

feat(lsp): select worker during startup (#419)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyWorkspaceService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerDefaults.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyWorkspaceServiceTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManagerWorkerSelectionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/test/TestVersions.kt
Due: kotlin-format-check

docs: refine E2E workflow per review (#418)
  .agent/workflows/tests-tests-tests.md
Due: none

test: add document highlight and type definition tests
  tests/e2e/resources/scenarios/_document-highlight-basic.yaml
  tests/e2e/resources/scenarios/type-definition-basic.yaml
Due: yaml-format

feat(lsp): route parsing via worker sessions
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerSessionManager.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerSessionManagerTest.kt
Due: kotlin-format-check

feat(lsp): route parsing via worker sessions (#423)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerSessionManager.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerSessionManagerTest.kt
Due: kotlin-format-check

test: correct LSP request positions
  tests/e2e/resources/scenarios/_document-highlight-basic.yaml
  tests/e2e/resources/scenarios/type-definition-basic.yaml
Due: yaml-format

test: enable type definition test (feature works)
  tests/e2e/resources/scenarios/type-definition-basic.yaml
Due: yaml-format

feat(lsp): clear caches on worker switch
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyWorkspaceService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/GroovyCompilationServiceTest.kt
Due: kotlin-format-check

test: fix JSON path assertions to target items array
  tests/e2e/resources/scenarios/_document-highlight-basic.yaml
  tests/e2e/resources/scenarios/type-definition-basic.yaml
Due: yaml-format

test: add document highlight and type definition tests (#422)
  tests/e2e/resources/scenarios/_document-highlight-basic.yaml
  tests/e2e/resources/scenarios/type-definition-basic.yaml
Due: yaml-format

fix(lsp): reindex only when worker changes
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyWorkspaceService.kt
Due: kotlin-format-check

feat(lsp): clear caches on worker switch (#424)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyWorkspaceService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/GroovyCompilationServiceTest.kt
Due: kotlin-format-check

test: add signature help and semantic tokens tests
  tests/e2e/resources/scenarios/_semantic-tokens-basic.yaml
  tests/e2e/resources/scenarios/_signature-help-basic.yaml
Due: yaml-format

feat(lsp): allow configurable worker descriptors
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/config/ServerConfiguration.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/config/WorkerDescriptorConfig.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyWorkspaceService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerRouterFactory.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/config/ServerConfigurationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManagerWorkerSelectionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerRouterFactoryTest.kt
Due: kotlin-format-check

feat(tests): add enhanced E2E scenarios for references, rename, and completion
  tests/e2e/resources/scenarios/completion-import-class.yaml
  tests/e2e/resources/scenarios/definition-method-call.yaml
  tests/e2e/resources/scenarios/diagnostics-semantic-errors.yaml
  tests/e2e/resources/scenarios/hover-type-inference.yaml
  tests/e2e/resources/scenarios/references-find-usages.yaml
  tests/e2e/resources/scenarios/rename-symbol.yaml
  tests/e2e/resources/scenarios/workspace-symbols.yaml
Due: yaml-format

fix(lsp): reject invalid maxVersion
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerRouterFactory.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerRouterFactoryTest.kt
Due: kotlin-format-check

fix(lsp): validate worker descriptors
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerRouterFactory.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerRouterFactoryTest.kt
Due: kotlin-format-check

feat(lsp): allow configurable worker descriptors (#428)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/config/ServerConfiguration.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/config/WorkerDescriptorConfig.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyWorkspaceService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerRouterFactory.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/config/ServerConfigurationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManagerWorkerSelectionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerRouterFactoryTest.kt
Due: kotlin-format-check

fix(tests): correct character positions in E2E scenarios
  tests/e2e/resources/scenarios/completion-import-class.yaml
  tests/e2e/resources/scenarios/hover-type-inference.yaml
Due: yaml-format

test: add signature help and semantic tokens specs (#427)
  tests/e2e/resources/scenarios/_semantic-tokens-basic.yaml
  tests/e2e/resources/scenarios/_signature-help-basic.yaml
Due: yaml-format

fix(tests): correct assertion type for additionalTextEdits length
  tests/e2e/resources/scenarios/completion-import-class.yaml
Due: yaml-format

fix(tests): apply Resolution Protocol Path A to failing E2E scenarios
  tests/e2e/resources/scenarios/completion-import-class.yaml
  tests/e2e/resources/scenarios/definition-method-call.yaml
  tests/e2e/resources/scenarios/diagnostics-semantic-errors.yaml
  tests/e2e/resources/scenarios/hover-type-inference.yaml
  tests/e2e/resources/scenarios/references-find-usages.yaml
  tests/e2e/resources/scenarios/rename-symbol.yaml
  tests/e2e/resources/scenarios/workspace-symbols.yaml
Due: yaml-format

Revert "fix(tests): apply Resolution Protocol Path A to failing E2E scenarios"
  tests/e2e/resources/scenarios/completion-import-class.yaml
  tests/e2e/resources/scenarios/definition-method-call.yaml
  tests/e2e/resources/scenarios/diagnostics-semantic-errors.yaml
  tests/e2e/resources/scenarios/hover-type-inference.yaml
  tests/e2e/resources/scenarios/references-find-usages.yaml
  tests/e2e/resources/scenarios/rename-symbol.yaml
  tests/e2e/resources/scenarios/workspace-symbols.yaml
Due: yaml-format

fix(tests): apply Path B - disable failing scenarios as specs
  tests/e2e/resources/scenarios/_completion-import-class.yaml
  tests/e2e/resources/scenarios/_diagnostics-semantic-errors.yaml
  tests/e2e/resources/scenarios/_hover-type-inference.yaml
  tests/e2e/resources/scenarios/_references-find-usages.yaml
  tests/e2e/resources/scenarios/_rename-symbol.yaml
  tests/e2e/resources/scenarios/_workspace-symbols.yaml
  tests/e2e/resources/scenarios/definition-method-call.yaml
Due: yaml-format

fix(tests): correct line numbers in references assertions
  tests/e2e/resources/scenarios/_references-find-usages.yaml
Due: yaml-format

fix(tests): correct request line for definition-method-call
  tests/e2e/resources/scenarios/definition-method-call.yaml
Due: yaml-format

feat(tests): add enhanced E2E scenarios for references, rename, and completion (#429)
  tests/e2e/resources/scenarios/_completion-import-class.yaml
  tests/e2e/resources/scenarios/_diagnostics-semantic-errors.yaml
  tests/e2e/resources/scenarios/_hover-type-inference.yaml
  tests/e2e/resources/scenarios/_references-find-usages.yaml
  tests/e2e/resources/scenarios/_rename-symbol.yaml
  tests/e2e/resources/scenarios/_workspace-symbols.yaml
  tests/e2e/resources/scenarios/definition-method-call.yaml
Due: yaml-format

feat(jenkins): deterministic vars ordering
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/VarsGlobalVariableProvider.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/VarsGlobalVariableProviderTest.kt
Due: kotlin-format-check

feat(jenkins): deterministic vars ordering (#434)
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/VarsGlobalVariableProvider.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/VarsGlobalVariableProviderTest.kt
Due: kotlin-format-check

fix(ci): harden GitHub Actions against ref injection attacks
  .github/workflows/extension-nightly.yml
  .github/workflows/release.yml
Due: yaml-format

refactor: extract duplicated string literals to constants
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/TypeInferencer.kt
  groovy-spock/src/main/kotlin/com/github/albertocavalcante/groovyspock/SpockDetector.kt
Due: kotlin-format-check

fix(ci): harden GitHub Actions against ref injection attacks (#435)
  .github/workflows/extension-nightly.yml
  .github/workflows/release.yml
Due: yaml-format

feat(lsp): stabilize classpath completions
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathServiceTest.kt
Due: kotlin-format-check

Path conditions:
  kotlin-format-check: any of: *.kt
  yaml-format: any of: *.{yml,yaml}
  python-format: any of: *.py
