Repository albertocavalcante/groovy-lsp: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-format-check, yaml-format, python-format

kotlin-format-check:
  run: ./gradlew spotlessCheck

yaml-format:
  run: yq -i -P '.' {staged_files}

python-format:
  run: ruff format {staged_files} && ruff check --fix {staged_files}

docs: add issue numbers to TODO comments per AGENTS.md
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/DiagnosticsService.kt
Due: kotlin-format-check

refactor(ci): derive push matrix from primary OS
  .github/workflows/ci.yml
Due: yaml-format

refactor(ci): derive push matrix from primary OS (#457)
  .github/workflows/ci.yml
Due: yaml-format

refactor(lsp): pass classpath entries
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathIndex.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathServiceTest.kt
Due: kotlin-format-check

test(lsp): fix classpath test data
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathServiceTest.kt
Due: kotlin-format-check

refactor(lsp): decouple classpath reflection
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathReflection.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathServiceTest.kt
Due: kotlin-format-check

refactor(lsp): fallback classpath entries
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathServiceTest.kt
Due: kotlin-format-check

Update groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathIndex.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathIndex.kt
Due: kotlin-format-check

fix(lsp): include JDK in classpath index
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathIndex.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/JvmClasspathIndexTest.kt
Due: kotlin-format-check

refactor(lsp): centralize reflection errors
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathReflection.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathService.kt
Due: kotlin-format-check

test: remove unrealistic CancellationException test
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/DiagnosticsServiceTest.kt
Due: kotlin-format-check

refactor(lsp): pass classpath entries (#458)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathIndex.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathReflection.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathServiceTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/JvmClasspathIndexTest.kt
Due: kotlin-format-check

fix: log CancellationException at `DEBUG` level in DiagnosticsService (#451)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/DiagnosticsService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/DiagnosticsServiceTest.kt
Due: kotlin-format-check

feat(parser): add AST query parser
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstNodeType.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstQuery.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstQueryEngine.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstQueryMatch.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstQueryParser.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstNodeTypeTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstQueryEngineTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstQueryParserTest.kt
Due: kotlin-format-check

fix(parser): match distinct child patterns
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstQueryEngine.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstQueryEngineTest.kt
Due: kotlin-format-check

refactor(parser): simplify child matching
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstQueryEngine.kt
Due: kotlin-format-check

fix(parser): preserve child order in queries
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/NodeRelationshipTracker.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstQueryEngine.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/NodeRelationshipTrackerTest.kt
Due: kotlin-format-check

fix(parser): synchronize ordered child set
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/NodeRelationshipTracker.kt
Due: kotlin-format-check

docs(agent): add pr review workflow
  .agent/workflows/pr-address-reviews.md
Due: none

docs(agent): add bulk PR review workflow
  .agent/workflows/bulk-pr-address-review.md
Due: none

feat(parser): add AST query parser (#447)
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/NodeRelationshipTracker.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstNodeType.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstQuery.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstQueryEngine.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstQueryMatch.kt
  groovy-parser/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstQueryParser.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/NodeRelationshipTrackerTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstNodeTypeTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstQueryEngineTest.kt
  groovy-parser/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/query/AstQueryParserTest.kt
Due: kotlin-format-check

docs(agent): harden PR review workflow
  .agent/workflows/pr-address-reviews.md
Due: none

docs(agent): add pr review workflow (#459)
  .agent/workflows/pr-address-reviews.md
Due: none

chore: release main
  CHANGELOG.md
  build.gradle.kts
  editors/code/package.json
  tools/release-please/manifest.json
Due: none

chore: release 0.4.8 (#401)
  CHANGELOG.md
  build.gradle.kts
  editors/code/package.json
  tools/release-please/manifest.json
Due: none

Path conditions:
  kotlin-format-check: any of: *.kt
  yaml-format: any of: *.{yml,yaml}
  python-format: any of: *.py
